<div class="header">
            
        <div class="container">
            <div class="top-header">
                <div class="logo">
                    <a href="/"><img src="/assets/images/logo.png" class="img-responsive" alt="" /></a>
                </div>
                <div class="queries">
                    <p>Questions? Call us Toll-free!<span>1800-0000-7777 </span><label>(11AM to 11PM)</label></p>
                </div>
                <div class="header-right">
                    <div class="cart box_1">
                        <a href="checkout.html">
                            <h3> <span class="simpleCart_total"> $0.00 </span> (<span id="simpleCart_quantity" class="simpleCart_quantity"> 0 </span>                                items)<img src="/assets/images/bag.png" alt=""></h3>
                        </a>
                        <p><a href="javascript:;" class="simpleCart_empty">Empty card</a></p>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="menu-bar">
            <div class="container">
                <div class="top-menu">
                    <ul>
                        <li><a href="/">Home</a></li>|
                        <li><a href="/popular">Popular Restaurants</a></li>|
                        <li><a href="/order">Order</a></li>|
                        <li><a href="/contact">contact</a></li>
                        <div class="clearfix"></div>
                    </ul>
                </div>
                <div class="login-section">
                    <ul>
                        <li><a href="/restlogin">Login</a> </li> |
                        <li><a class="active" href="#">Register</a> </li> |
                        <li><a href="#">Help</a></li>
                        <div class="clearfix"></div>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>