<div class="header">
    <div class="container">
        <div class="top-header">
            <div class="logo">
                <a href=""><img src="/assets/images/logo.png" class="img-responsive" alt="" /></a>
            </div>
            <div class="queries">
                <p>Questions? Call us Toll-free!<span>1800-0000-7777 </span><label>(11AM to 11PM)</label></p>
            </div>
            <div class="header-right">
                <div class="cart box_1">
                    <a href="checkout.html">
                        <h3> <span class="simpleCart_total"> $0.00 </span> (<span id="simpleCart_quantity" class="simpleCart_quantity"> 0 </span>								items)<img src="/assets/images/bag.png" alt=""></h3>
                    </a>
                    <p><a href="javascript:;" class="simpleCart_empty">Empty card</a></p>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="menu-bar">
        <div class="container">
            <div class="top-menu">
                <ul>
                    <li><a href="/" class="scroll">Home</a></li>|
                    <li><a href="/popular">Popular Restaurants</a></li>|
                    <li><a href="/order">Order</a></li>|
                    <li><a href="/contact">contact</a></li>
                    <div class="clearfix"></div>
                </ul>
            </div>
            <div class="login-section">
                <ul>
                    <!-- <li ng-hide="isLoggedIn">
                        <a href="/login2">Login</a>
                    </li>
                    <li ng-hide="isLoggedIn">
                        <a href="/signup2">Sign up</a>
                    </li>
                    <li ng-show="isLoggedIn">
                        <a href="/profile">
                            <h2>Hello,</span> </h2>
                        </a>
                    </li>
                    <li ng-show="isLoggedIn">
                        <a href="/logout">Log out</a>
                    </li> -->
                    <li><a href="/login2">Login</a> </li> |
                    <li><a href="/signup2">Register</a> </li> |
                    <li><a href="#">Help</a></li>
                    <div class="clearfix"></div>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="banner wow fadeInUp" data-wow-delay="0.4s" id="Home">
        <div class="container">
            <div class="banner-info">
                <div class="banner-info-head text-center wow fadeInLeft" data-wow-delay="0.5s">
                    <h1>Network of over 5000 Restaurants</h1>
                    <div class="line">
                        <h2> To Order Online</h2>
                    </div>
                </div>
                <div class="form-list wow fadeInRight" data-wow-delay="0.5s">
                    <form>
                        <ul class="navmain">
                            <li><span>Location Name</span>
                                <input type="text" class="text" value="Secunderabad" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Secunderabad';}">
                            </li>
                            <li><span>Restaurant Name</span>
                                <input type="text" class="text" value="Swagath Grand" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Swagath Grand';}">
                            </li>
                            <li><span>Cuisine Name</span>
                                <input type="text" class="text" value="Chicken Biriyani" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Chicken Biriyani';}">
                            </li>
                        </ul>
                    </form>
                </div>
                <!-- start search-->
                <div class="main-search">
                    <form action="search.html">
                        <input type="text" value="Search" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Search';}" class="text"
                        />
                        <input type="submit" value="" />
                    </form>
                    <div class="close"><img src="/assets/images/cross.png" /></div>
                </div>
                <div class="srch"><button></button></div>
                <script type="text/javascript">
                    $('.main-search').hide();
                    $('button').click(function () {
                        $('.main-search').show();
                        $('.main-search text').focus();
                    }
                    );
                    $('.close').click(function () {
                        $('.main-search').hide();
                    });
                </script>

            </div>
        </div>
    </div>
</div>